/* line 12, main.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 16, main.scss */
h1 {
  font-size: 2em;
  padding: 20px;
  font-weight: 900;
}

/* line 22, main.scss */
h2 {
  font-size: 1.5em;
  padding: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}

/* line 29, main.scss */
p {
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.2em;
}

/* line 35, main.scss */
li {
  padding: 10px 20px;
}

/* line 39, main.scss */
a {
  padding: 20px;
}

/* line 43, main.scss */
body {
  margin: 0;
  height: 99vh;
  background: black;
}

/* line 49, main.scss */
.paint {
  width: 95%;
  height: 94%;
  border: 1px solid black;
  margin: 20px auto;
}

/* line 56, main.scss */
table {
  float: left;
}

/* line 60, main.scss */
td {
  width: 4px;
  height: 4px;
  background-color: #fff;
  cursor: crosshair;
}

/* line 67, main.scss */
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  height: 660px;
  width: 495px;
  float: right;
}

/* line 74, main.scss */
.blabla {
  float: right;
  width: 402px;
  height: 100%;
  background-color: #fff;
}

/* line 81, main.scss */
.palette {
  height: 100%;
  width: 90px;
  background-color: #fff;
  float: left;
}

/* line 88, main.scss */
.color {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  margin: 20px;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;
}

/* line 98, main.scss */
.k {
  background-color: #000;
}

/* line 102, main.scss */
.b {
  background-color: #0687f8;
}

/* line 106, main.scss */
.r {
  background-color: #f80606;
}

/* line 110, main.scss */
.g {
  background-color: #37d100;
}

/* line 114, main.scss */
.y {
  background-color: #fcdb02;
}

/* line 118, main.scss */
.p {
  background-color: #bd02fc;
}

/* line 122, main.scss */
.o {
  background-color: #fc5102;
}

/* line 126, main.scss */
.n {
  background-color: #892b00;
}

/* line 130, main.scss */
.w {
  background-color: #fff;
}
