/* line 16, main.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 20, main.scss */
h1 {
  font-size: 2em;
  padding: 20px;
  font-weight: 900;
}

/* line 26, main.scss */
h2 {
  font-size: 1.5em;
  padding: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}

/* line 33, main.scss */
p {
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.2em;
}

/* line 39, main.scss */
li {
  padding: 10px 20px;
  padding-left: 40px;
  font-size: 1.1em;
}

/* line 45, main.scss */
a {
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
}

/* line 51, main.scss */
body {
  margin: 0;
  height: 99vh;
  background: black;
}

/* line 57, main.scss */
.paint {
  width: 95%;
  height: 94%;
  border: 1px solid black;
  margin: 20px auto;
}

/* line 64, main.scss */
table {
  float: left;
}

/* line 68, main.scss */
td {
  width: 4px;
  height: 4px;
  background-color: #fff;
  cursor: crosshair;
}

/* line 75, main.scss */
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  height: 660px;
  width: 495px;
  float: right;
}

/* line 82, main.scss */
.blabla {
  float: right;
  width: 79.5%;
  height: 100%;
  background-color: #fff;
}

/* line 89, main.scss */
.palette {
  height: 100%;
  width: 20%;
  background-color: #fff;
  float: left;
}

/* line 96, main.scss */
.display {
  display: initial !important;
}

/* line 100, main.scss */
.palette-plus .color, .palette-plus .plus {
  display: none;
}

/* line 104, main.scss */
.color, .plus {
  width: 50px;
  height: 50px;
  margin: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;
  float: left;
}

/* line 120, main.scss */
.plus {
  background-image: url();
}

/* line 125, main.scss */
.k {
  background-color: #000;
}

/* line 129, main.scss */
.b {
  background-color: #0687f8;
}

/* line 133, main.scss */
.r {
  background-color: #f80606;
}

/* line 137, main.scss */
.g {
  background-color: #37d100;
}

/* line 141, main.scss */
.y {
  background-color: #fcdb02;
}

/* line 145, main.scss */
.p {
  background-color: #bd02fc;
}

/* line 149, main.scss */
.o {
  background-color: #fc5102;
}

/* line 153, main.scss */
.n {
  background-color: #892b00;
}

/* line 157, main.scss */
.w {
  background-color: #fff;
}

/* line 161, main.scss */
.e {
  background-color: #757575;
}

/* line 165, main.scss */
.t {
  background-color: #74CBD1;
}

/* line 169, main.scss */
.c {
  background-color: #C1604A;
}

/* line 173, main.scss */
.i {
  background-color: #FF6AC1;
}
