$blue: #0687f8;
$red: #f80606;
$green: #37d100;
$yellow: #fcdb02;
$purple: #bd02fc;
$orange: #fc5102;
$brown: #892b00;
$white: #fff;
$black: #000;
$grey: #757575;
$tiel: #74CBD1;
$ocre: #C1604A;
$pink: #FF6AC1;

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size : 2em;
    padding: 20px;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    padding: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

p {
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
}

li {
    padding: 10px 20px;
    padding-left: 40px;
    font-size: 1.1em;
}

a {
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
}

body {
    margin: 0;
    height: 99vh;
    background: rgba(0,0,0,1);
}

.paint {
    width: 95%;
    height: 94%;
    border: 1px solid black;
    margin: 20px auto;
}

table {
    float: left;
}

td {
    width: 4px;
    height: 4px;
    background-color: #fff;
    cursor: crosshair;
}

.menu {
    background-color: rgba(0,0,0,0.1);
    height: 660px;
    width: 495px;
    float: right;
}

.blabla {
    float: right;
    width: 79.5%;
    height: 100%;
    background-color: #fff;
}

.palette {
    height: 100%;
    width: 19.8%;
    background-color: #fff;
    float: left;
}

.display {
    display: initial !important;
}

.palette-plus .color{
    display: none;
}

.color {
    width: 50px;
    height: 50px;
    margin: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 23px;
    border-radius: 25px;
    border: 1px solid black;
    cursor: pointer;
    float: left;
}


.palette-plus .color {
    
}

.plus {
    @extend .color;
    background-image: url('plus-sign.png');
    background-position: center center;
    background-size: 120%;
    border: 0;
}

.icon-gomme {
    background-image: url('gomme.png');
    background-position: center center;
    background-size: 100%;
}

.gomme {
    cursor: url(gomme-small.png), auto;
}

.k {
    background-color: $black;
}

.b {
    background-color: $blue;
}

.r {
    background-color: $red;
}

.g {
    background-color: $green;
}

.y {
    background-color: $yellow;
}

.p {
    background-color: $purple;
}

.o {
    background-color: $orange;
}

.n {
    background-color: $brown;
}

.w {
    background-color: $white;
}

.e {
    background-color: $grey;
}

.t {
    background-color: $tiel;
}

.c {
    background-color: $ocre;
}

.i {
    background-color: $pink;
}